:root{
    --cyan-blue: #a8dadc;
    --sky-blue: #457b9d;
    --dark: #252422;
    --dark-grey: #403d39;
    --beige: #f1faee;
    --salmon: #e63946;
    --organge: #eb5e28;
    --font-logo: 'Nabla', cursive;
    --titles-font: 'DM Serif Display', serif;
    --body-font: 'Asap Condensed', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html {
    font-size: 62.5%;
    font-family: var(--body-font);
}

h1 {font-size: 4rem; font-family: var(--titles-font);}
h2 {font-size: 3.2rem; font-family: var(--titles-font);}

p, span, a, label{
    font-size: 1.6rem;
    text-decoration: none;
}


body{
    display: flex;
    background-color: var(--dark);
}

.side-bar {
    width: 20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-grey);
}

.side-bar .logo {
    height: 20%;
    display: flex;
    align-items: center;
}

.side-bar .lista{
    height: 80%;
    display: flex;
    align-items: center;
}

.side-bar h2{
    color: white;
    font-size: 4rem;
    font-family: var(--font-logo);
}
.side-bar ul{
    list-style: none;
}
.side-bar a{
    color: #333;
    font-size: 2rem;
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 24px;
    background-color: var(--beige);
    border-radius: 4px;
    margin: 32px 0;
    text-align: center;
}

.main{
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table_wrapper{
    width: 95%;
    margin: 50px 0;
    font-size: 1.6rem;
    color: white;
    background-color: var(--dark-grey);
    padding: 24px;
    border-radius: 8px;
}
#table_wrapper a, 
#table_wrapper div,
#table_wrapper  select,
#table_wrapper input 
{ color: white !important; }
#table_wrapper table{
    margin: 24px auto;
    color: white;
}

#table_wrapper input {
    padding: 2px;
    font-size: 1.6rem;
    margin: 0 12px;
    border: solid 2px var(--organge);
    outline: none;
}

.header {
    width: 90%;
    padding-top: 24px;
}
.header h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 24px;
    color: white;
}
.header span{
    font-size: 2.8rem;
    border-bottom: solid var(--organge) 2px;
    color: white;
}
.header .boton-box {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
}

.header .boton-box button {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: var(--organge);
    border: none;
    outline: none;
    color: white;
    font-size: 2rem;

}

.form-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 40px;
    background-color: var(--dark);
    margin: 52px 0;
}

.form-box h2, .form-box form{
    color: white;
}

.form-box h2{
    font-size: 4.4rem;
    font-family: var(--body-font);
}

.form-box input{
    padding: 8px 4px;
    font-size: 1.6rem;
    margin-top: 12px;
    border: solid 2px var(--organge);
    outline: none;
}
.form-box form{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 12px ;
}
.form-box label{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px 0;
    font-size: 2rem;
}